.ThermostatStatus .off {
    color: #ffffff;
}
.ThermostatStatus .cool {
    color: #5bc0eb;
}
.ThermostatStatus .heat {
    color: #c3423f;
}
.ThermostatStatus .fan-on {
    color: #9bc53d;
}
.ThermostatStatus .auto {
    color: #fde74c;
}